<div class="index_page">
<h1> Welcome to StoreCentral </h1>


<div class="msg_box">
  <h3> Keep Track of your store and stay connected</h3>
  <%= link_to "Get Started", login_path, class: "btn btn-danger"%>
</div>
</div>
