.custom_products{
    margin: auto;
    background-color: #A49E8D;
    padding: 30px;
    height:6em;
    width:7em;
    display: inline-block;
    text-align: center;
    margin-left: 2em;
    justify-content: space-between;
}
.add_custom_products{
  margin: auto;
  width: 5em;
  border: 1px solid gray;
  padding: 10px;
  text-align: center;
}