// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body{
    background-color: #8e9aaf;
}.post_form{
    width:50%;
    height: 20em;
    background-color: #83c5be;
    color: black;
    margin-top: 5em;
    
    margin-left: 3em;
    border: none;
    border-radius: 3em;
    text-align: justify;
}
a{
    color: black;
}
.post_box{
    margin-top: 5em;
    background-color: #83c5be   ;
    // margin-top: 1em;
    padding-top: 5px;
    padding-left: 20px;
    flex-wrap: wrap;
    overflow: hidden;
    .btn-group{
        float: top;
        padding-right: 7px;
        background-color: none;
        color: black;
    }
    .comment_box{
        margin-top: 5px;
        border-radius: 1em;
        padding-left: 10px;
        background-color: #f9dcc4;
        width:80%;
        float: bottom;
        text-align: left;
    }
}
.menu{
    float: right;
}
.btn-secondary{
    float: right;
    background-color:  transparent;
    border: none;
    &:hover {
        background-color:  transparent;
    }
}