<%= render partial: "categories_navbar", locals:{category: @category}%>

 <table class="table table-success table-striped">
     <tr> 
     
     <th> Products </th>
     <th> Quantity </th>
     </tr>
 <% @cat.products.each do |cat|%>
 <%if cat.user_id== current_user.id%>
    <tr>
  
    <td><%=link_to cat.name, user_product_path(cat.user_id, cat.id)%></td>
    <td> <%= cat.quantity%> </td>
    </tr>
  <%end%>
  <%end%>
  </table>
</ul>