<div class="Top_nav">
 <div class="greeting">
 <h3> Welcome  <%= current_user.name%> </h3>
 </div>
    
    <ul class="nav ">
   <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-expanded="false">Profile</a>
    <ul class="dropdown-menu">
     <%# <%if current_user.omniauth==nil%> 
      <li><%= link_to "Profile", edit_user_path(current_user) %></li>
      <%# <%end%> 
      <li><%=button_to "Logout", logout_path, method: :delete %></li>
    </ul>
  </li>
</ul>
</div>